body {
    background-color: rgb(111, 0, 0);
    color: white;
    text-align: center;

}

.header {
    font-size: 50px;
}

a {
    color: rgb(251, 150, 150);
}

img {
    width: 250px;
    height: auto;
}

#supers span {
    border: 5px solid white;
    margin: 15px;
    padding: 10px;
    display: inline-block;
    width: 250px;
    height: 334px;
    vertical-align: top;
    font-size: 20px;
}